h1 {
   font-family: sans-serif;
   font-size: 50px;
   float: center;
}

div {
   font-family: sans-serif;
   font size: 50px;
}

.menu {
   font-family: sans-serif;
   font size: 20px;
   float: left;
}